@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import "~react-toastify/scss/main.scss";
@import "./styles/custom-toastify.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  background: linear-gradient(to right, #e67e22, #e74c3c);
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  line-height: 2.8rem;
  box-sizing: border-box;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 0.1rem #2980b9;
  width: 30%;
  padding-bottom: 0.4rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
  font-size: 1.6rem;
  outline: none;

  &:focus {
    color: #fff;
    border-color: #e74c3c;
  }
}

.btn {
  border: 0;
  padding: 0.8rem 2rem;
  margin: 0 0.2rem;
  border-radius: 0.2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
  font-weight: 100;
  transition: all 0.3s ease-in-out 0s;

  &:hover {
    background-color: #e74c3c;
  }
}

.btn:active {
  outline: none;
}
